{% extends "base_v2.html" %}


{% block content %}
<div class="container mycontainer">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1" style="text-align:center;">
		  	<div class="panel panel-primary panel-contact">
				<div class="panel-body">
					<div class="col-lg-12">	
						<h4>Forgot your password?</h4>
						If you can't remember your password you can request new one <a href="{% url 'user_account.views.password_reset' %}">here</a>.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br></br>
<br></br>
{% endblock %}

