{% extends "base_v2.html" %}


{% block content %}
<div class="container mycontainer">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1" style="text-align:center;">
		  	<div class="panel panel-primary panel-contact">
				<div class="panel-body">
					<div class="col-lg-12">	
						<p>We've sent you instructions for setting new password on your email address.</p>
						<p>Please check your email.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br></br>
<br></br>
{% endblock %}

