{% extends "base_v2.html" %}


{% block content %}
<div class="container mycontainer">
	<div class="row">
		<div class="col-lg-4">
			
			{% if validlink %}
		        <p>Please type your new password twice to avoid typing mistakes.</p>
		        <form action="" method="post">
		            <div style="display:none">
		                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
		            </div>
		            <table>
		                <tr>
		                    <td>{{ form.new_password1.errors }}
		                        <label for="id_new_password1">New password:</label></td>
		                    <td>{{ form.new_password1 }}</td>
		                </tr>
		                <tr>
		                    <td>{{ form.new_password2.errors }}
		                        <label for="id_new_password2">New password (again):</label></td>
		                    <td>{{ form.new_password2 }}</td>
		                </tr>
		                <tr>
		                    <td></td>
		                    <td><input type="submit" value="Change password" /></td>
		                </tr>
		            </table>
		        </form>
		    {% else %}
		        <h1>Password reset not successful.</h1>
		        <p>Link for password reset is not valid. <br />
		        That link is probably already in use. <br />
		        Please ask again for password reset.</p>
		    {% endif %}
			
		</div>
	</div>
</div>

<br></br>
<br></br>
{% endblock %}

