{% extends "base_v2.html" %}


{% block content %}
<div class="container mycontainer">
	<div class="row">
		<div class="col-lg-3">
			<h4>Change your password</h4>
			<hr>
			<form class="form-signup" action="{% url 'django.contrib.auth.views.password_change' %}" method="post">{% csrf_token %}
				{{form.errors}}
				<p>Your old password</p>
				<input type="password" class="form-control" name="old_password" id="id_old_password">
				<br>
				<p>New password:</p>
				<input type="password" class="form-control" name="new_password1" id="id_new_password1"><br>
				<p>New password (type again):</p>
				<input type="password" class="form-control" name="new_password2" id="id_new_password2"><br>
			    
				<input type="submit" name="submit" class="btn btn-primary" value="Change password">
			</form>
		</div>
	</div>
</div>

<br></br>
<br></br>
{% endblock %}

