{% extends 'base.html'%}
{% block title %}
<title> Ebola CDC finder | About Ebola CDC</title>
{% endblock title %}

{% block content %}
<h3>About Us</h3>
<p>The Ebola CDC Finder is an initiative of Agriit Institute. We are a think tank based in Kampala Uganda, committed to changing the state of our communities through ICT enabled agricultural innovations. </p>
<p>The current Ebola Virus Disease in West Africa, being the world’s largest Ebola outbreak recorded to date, has not only resulted in countless deaths but has also adversely affected food security of affected population. Reduced Food trade, consequent rising food prices and expected reduction in harvests are anticipated to further undermine the fragile state of food security in the region, with food production in the affected countries already less by over 40%.</p>
<p>Despite massive efforts by the governments of affected countries and enormous global commitment to combating the scourge, the rate of infections and deaths has been increasing. It is our mandate as <a href="http://agriit.wordpress.com/" target="_blank">Agriit Institute</a> to develop tools that solve our everyday challenges especially those that affect the lives of smallholders. We have, therefore, been compelled to develop this web app that will potentially contribute toward reduction of Ebola deaths and new infections by helping anyone anywhere to register or locate the nearest Ebola CDCs in their neighborhood as soon as they or their loved ones identify any Ebola symptoms. </p>
<p>Ebola is no longer an African problem but a global crisis; but Africa understands it like no other. So this is an African response to a global crisis!</p>
{% endblock content %}