{% extends 'base.html' %}
{% block title %}
<title>Ebola CDC finder | How it works</title>
{% endblock title %}
{% block content %}
<h3><strong>How it works</strong></h3>

<ol>
<li><p>The Ebola CDC finder is a tool that helps people to register or find Ebola centers for disease control and prevention in their neighborhood.</p></li><br/>
<li><p>A person that needs an Ebola CDC specifies the distance within which S/he expects the Ebola CDC and then clicks search Ebola CDC.</p></li><br/>
<li><p>The tool then returns the results basing on the distance selected by the user and the current position of the user. The user can select any item of the returned results to view more details about any Ebola CDC result returned.</p></li><br/>
<li><p>Each result contains the information like the location of the Ebola CDC, the Ebola CDC name,contact which can be used by the anyone to get help or make an inquiry.</p></li>
<li>The tool also enables registration of an Ebola CDC in their area by clicking on the map where the Ebola CDC is located (A blue pin will apear on the location clicked by the user) and also specifying other related information to the location of the Ebola CDC.</li>

</ol>
<h4>Note:</h4>
<p>This tool uses geolocation and therefore it should be enabled in your web browser.</p>
{% endblock content %}